body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: cadetblue;
}

.content-section {
    background-color:cornsilk;
    border-radius: 10px;
    padding: 5px;
}

h1, h2 {
    color: cornsilk;
}

h1 {
    margin-bottom: 50px;
    text-align: center;
}

h2 {
    margin-top: 50px;
}

ul {
    list-style-type: none;
    padding: 0px 15px;
}

ol {
    padding: 10px 35px;
}

li {
    text-align: justify;
}

img {
    width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
}

p {
    padding: 0px 10px;
    text-align: justify;
}